@import "tailwindcss";

@theme {
  --color-primary-500: #f73b51;
  --color-primary-600: #ff001f;
}

img {
  -webkit-user-drag: none;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

.spin {
  animation: spin 0.8s infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.product-image-position {
  transform-origin: var(--product-image-x) var(--product-image-y);
}
